{% extends "layouts/base.html" %}

{% block title %} Blank Page {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="panel-header panel-header-sm">
    </div>
    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h5 class="title">
                Environment
            </div>
            <p class="category">
              Environment data from experiment <b>{{experiment_name}}</b>
            </p>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">

                  <div class="image">
                    <img src="{{ 'static/upload/' + experiment_name + '/environment.png'}}">
                  </div>

                  {% for element in environment %}
                  {{element}}<br>
                  {% endfor %}

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
